<h1> Lista tareas </h1>

  <div>
    <div>
      <button class="btn btn-info mb-3"
      [routerLink]="['/agregar']"
      > <i class="far fa-plus-square"></i> Agregar Tarea </button>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Tarea</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of tareas | async">
          <th scope="row">{{ tarea.id }}</th>
          <td>{{ tarea.nombre }}</td>
          <td><span class="badge" 
            [ngClass]="{'badge-warning': tarea.estado === 'PENDIENTE', 'badge-success': tarea.estado === 'COMPLETADO'}" >{{ tarea.estado }}</span></td>
          <td>
            <a [routerLink]="['/editar', tarea.id]"><i class="far fa-edit mr-2"></i></a>
            <i class="far fa-check-circle mr-2"></i>
            <i class="far fa-trash-alt mr-2"></i>
           </td>
        </tr>
      </tbody>
    </table>
  </div>